.profile_column_left{
  float:left;
  width:40%;
  background-color:rgba(65, 65, 65, 1);
  color: white;
  height:100%;
}

.profile_column_right{
  float:right;
  width:60%;

}
.title_large {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:45px;
}

.clear{
  clear:both;
}

#container2 {
	clear:left;
	float:left;
	width:100%;
	margin: 24px;
	overflow:hidden;
	background:#ffffff; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:70%;
	background-color:rgba(65, 65, 65, 1); /* column 1 background colour */
}
#col1 {
	float:left;
	width:30%;
	position:relative;
	left:70%;
	overflow:hidden;
	color:white;
}
#col2 {
	float:left;
	width:70%;
	position:relative;
	left:70%;
	overflow:hidden;
}

.profile_img{
	width: 100%;
}