<link href="../static/files/header/styles.css" type="text/css" rel="stylesheet"/>
<style>
@import url('https://fonts.googleapis.com/css?family=Lobster');
</style> 

    <!-- TOP Black Bar -->
    <div id="u0" class="">
        <div id="header_text" class="headerT">
        <!-- Sign In / Resigter Icon-->
        <p>
        {% if current_user.is_authenticated %}
            <a href="/profile">{{ current_user.user_name }}</a>
            <a href="/profile"><img id="u4" class="img " src="../static/images/home/user_u16.png"/></a> /
            <a href="/logout">Log Out</a>
        {% else %}
            <a href="/register">
            Sign Up
            </a>
             / 
            <a href="/login"> Login </a>
        {% endif %}
        </p>
        </div>
    </div>

    <!-- Search Blue Background -->
    <div id="u1" class="">

        <!-- Title -->
        <div id="u3" class="ax_default heading_1" data-label="Title">
            <!-- LOGO -->
            <p class="heading_0a">
                <a href="/">
                <img id="u2" class="img " src="../static/images/home/logo_u6.png"/> 
                </a>
                Pet Recipes <p>
        </div>

        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Everything</button>
            <form method="POST" action ="/search">
                <div id="myDropdown" class="dropdown-content">
                    <a class="paragraph" onClick="changeActive('Everything')" href="#Everything">Everything</a>
                    <a class="paragraph" onClick="changeActive('Users')" href="#Users">Users</a>
                    <a class="paragraph" onClick="changeActive('Recipes')" href="#Recipes">Recipes</a>
                    <!-- since this isn't a traditonal select element, we need to set what filter
                         was clicked in thr drop down menu as a hidden input (dynamically set by js)-->
                    <input type="hidden" id="search_bar_filter" name="search_filter" value="Everything">
                </div>
                    <input type="text" name="search_term" placeholder="Search.."> 
            </form> 
        </div>

    </div>
                  
    <script>
    function changeActive(dropdown_type){
        document.getElementsByClassName("dropbtn")[0].innerHTML = dropdown_type;
        document.getElementById("search_bar_filter").value = dropdown_type;
    }

    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>