<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="/viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/home/styles.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="../static/files/header/styles_alt.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/recipe/styles.css" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    </head>
    <body>

    

    <!-- TOP Black Bar -->
    <div id="u0" class="">
        <div id="header_text" class="headerT">
        <!-- Sign In / Resigter Icon-->
        <p>
        {% if current_user.is_authenticated %}
            <a href="/profile">{{ current_user.user_name }}</a>
            <a href="/profile"><img id="u4" class="img " src="../static/images/home/user_u16.png"/></a> /
            <a href="/logout">Log Out</a>
        {% else %}
            <a href="/register">
            Sign Up
            </a>
             / 
            <a href="/login"> Login </a>
        {% endif %}
        </p>
        </div>
    </div>


    <div class="searchbanner" align="center">

            <p class="bigtitle">Pet Recipes</p>
            <br>
            <form method="POST" action ="/search">
                    <input type="hidden" name="search_filter" value="Everything">
                    <input type="text" name="search_term" placeholder="Search.." class="w3-input w3-border w3-margin-bottom"> 
            </form> 
    </div>

    <div class="divider" >
       <p style="margin-left:12%">Recommended Recipes</p>
    </div>


<div style="width:70%;margin-left:10%">
 <table>

    {% for r in recipes %}
       


            {% if loop.index % 3 == 1 %}
            <tr>
            {% endif %}

            <td>

                <div id = "u14" >
                    <div id="u24" class="ax_default box_2">
                        <div>

                            {% if r.Recipe.imagepath is not none %}
                            <a href="{{ url_for('recipe_view',recipeid= r.Recipe.id)}}"><img src="{{ r.Recipe.imagepath }} " width="400px"/></a>
                            {% else %}
                            <a href="{{ url_for('recipe_view',recipeid= r.Recipe.id)}}"> <img src="../static/images/noimage.jpg" width="400px"/></a>
                            {% endif %}



                            <div id = "default_inner">
                                <p> <a href="{{ url_for('recipe_view',recipeid= r.Recipe.id, title= r.Recipe.title, ingredient= r.Recipe.ingredient,
                                    instruction=r.Recipe.instruction, pettype=r.Pet_type.type, user=r.User.user_name, img=r.Recipe.imagepath) }}" class="heading_1" >{{ r.Recipe.title }}</a></p>
                                    <br></br>

                                    <p class="heading_3">Suitable For {{ r.Pet_type.type }}</p>




                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

            </td>

            {% if loop.index % 3 == 0 %}
            </tr>
            {% endif %}

        
    {% endfor %}  
</table> 


</div>
</body>