<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="/viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/home/styles.css" type="text/css" rel="stylesheet"/>
        <script src="../static/files/home/data.js"></script>
    </head>
    <body>

    <!-- TOP Black Bar -->
    <div id="u0" class="">
        <!-- User Icon-->
        <img id="u4" class="img " src="../static/images/home/user_u16.png"/>
    </div>

    <!-- Search Blue Background -->
    <div id="u1" class="">

        <!-- Title -->
        <div id="u3" class="ax_default heading_1" data-label="Title">
            <!-- LOGO -->
            <p><img id="u2" class="img " src="../static/images/home/logo_u6.png"/> Pet Recipes <p>
        </div>

        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Everything

        </button>
            <form method="POST" action ="/search">
                    <input type="text" name="search_term" placeholder="Search.."> 
            </form> 
            <div id="myDropdown" class="dropdown-content">
                <a href="#Everything">Everything</a>
                <a href="#User">User</a>
                <a href="#Recipes">Recipes</a>
            </div>
        </div>

    </div>
                  
    <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>

        <!-- back (Rectangle) -->
        <div id="u12" class="">

            <!-- start recipe box here with u14-->
            <!-- Recipes Post -->
            {% for r in recipes %}
                <div id="u14" class="">

                    <!-- PosterName
                    <div id="u21" class="text" style="visibility: visible;">
                        <p>                   Post Background
                    <img id="u18" class="img " src="../static/images/home/post_u18.png"/> 
                    <span>User01234</span></p>
                    </div>-->

                    <!-- Post Time -->
                    <div id="u22" class="ax_default box_2">
                                           <!-- Post Background -->
                    <img id="u18" class="img " src="../static/images/home/post_u18.png"/> 
                        <div id="u21" class="text" style="visibility: visible;">
                            <p><span>User01234</span></p>
                        </div>
                        <p><span>Today 9:13 am</span></p>
                    </div>

                    <!-- Post Content -->
                    <div id="u24" class="ax_default box_2">
                        <p>html/css doesn't seem to be dynamic so all recipes listed here for now</p><br>
                        <p><span><b>{{ r.title }}</b> <br></span></p>
                        <p><span>{{ r.ingredient }} <br></span></p>
                        <p><span>{{ r.instruction }} <br></span></p>              
                        <br>
                    </div>

                </div>
            {% endfor %}

        </div>
      
    </body>
</html>
