<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="/viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/recipe/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/profile/profile.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
 <body>
 {% include 'header.html' %}

<div class="w3-row">

<div class = "w3-col  w3-container" style="width:20%"></div>
<div class = "w3-col w3-container w3-padding-large w3-margin" style="width:60%">

<div id="container2">
 <div id="container1">
 
        <div id="col1">
            {% if profile[0].profile_pic is not none %}
            <img src="{{ profile[0].profile_pic}}" id="recipe_img"/>
            {% else %}
            <img src="static\images\home\post_u18.png" id="recipe_img"/>
            {% endif %}
            <div id = "default_inner" >
            <p class="title_large">{{ profile[0].user_name }}</p>
            <p class="paragraph">{{ profile[0].email }}</p>
            <br>
            <p class="heading_3">Pets Owned</p>
            <ul>
            {% for p in pets %}
            <li><p class="paragraph">{{ p.Pet.NAME }}   ({{p.Pet_type.type}})</p></li>
            {% endfor %}
            {% if pets|count == 0 %}
                <li>None</li>
            {% endif %}
            </ul>
            {% if current_user.id == profile[0].id %}
            <a href="/update_profile" style="color: #169BD5"><p class="heading_3">Update Profile</p></a>
            {% else %}
            <a href="/follow" style="color: #169BD5"><p class="heading_3">Follow User</p></a>
            {% endif %}
            </div>

        </div>
        <div id="col2">
            {% if current_user.id == profile[0].id %}
            <div id = "default_inner" >
            <a href="/upload_post" style="color: #169BD5"><p class="heading_2" style="text-align:right">Upload Post</p></a>
            </div>
            {% endif %}

            {% for r in recipes %}
            <div id = "default_inner" >


                <div class="profile_column_left">
                {% if r.Recipe.imagepath is not none %}
                <img src="{{r.Recipe.imagepath}}" class="profile_img"/>
                {% else %}
                <img src="../static/images/noimage.jpg" class="profile_img"/>
                {% endif %}
                </div>

                <div class="profile_column_right">
                    <div id = "default_inner" >
                        <a href="{{ url_for('recipe_view',recipeid= r.Recipe.id) }}" class="heading_2" >{{ r.Recipe.title }}</a><br>
                        <p class="paragraph">{{ r.Recipe.ingredient.replace('\n','<br />')|safe }}</p>
                        <a href="{{ url_for('recipe_view',recipeid= r.Recipe.id) }}" class="heading_2" >
                        <p class="heading_4">Read more...</p>
                    </div>

                </div>
                <div class="clear"></div>
                <!--Detele Icon-->
                {% if current_user.id == profile[0].id %}
                <form action = "" method = "post">
                        <button name="delete" value="{{ r.Recipe.id }}" type="submit" class="fa fa-trash"></button>
                </form>
                {% endif %}
            </div>
            {% endfor %}



            {% if recipes|count == 0 %}
            <div id = "default_inner" >
                 <p class="heading_2">This user has no recipes</p>
            </div>
            {% endif %}
           
        </div>
        <div class="clear"></div> 
</div>
</div>

</div>
<div class = "w3-col  w3-container" style="width:20%"></div>

</div>

</body>
</html>