<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="/viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/recipe/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/profile/profile.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
 <body>
 {% include 'header.html' %}


 <div id="u12" class="">
 <div id="u14" class="">

<div id="container2">
 <div id="container1">
 
        <div id="col1">
            {% if profile[0].profile_pic is not none %}
            <img src="{{ profile[0].profile_pic}}" id="recipe_img"/>
            {% else %}
            <img src="static\images\home\post_u18.png" id="recipe_img"/>
            {% endif %}
            <div id = "default_inner" >
            <p class="title_large">{{ profile[0].user_name }}</p>
            <p class="paragraph">{{ profile[0].email }}</p>
            <br>
            <p class="heading_3">Pets Owned</p>
            <ul>
            {% for p in pets %}
            <li><p class="paragraph">{{ p.Pet.NAME }}   ({{p.Pet_type.type}})</p></li>
            {% endfor %}
            {% if pets|count == 0 %}
                <li>None</li>
            {% endif %}
            </ul>
            {% if current_user.id == profile[0].id %}
            <a href="/update_profile" style="color: #169BD5"><p class="heading_3">Update Profile</p></a>
            {% else %}
            <a href="/follow" style="color: #169BD5"><p class="heading_3">Follow User</p></a>
            {% endif %}
            </div>

        </div>
        <div id="col2">
            {% for r in recipes %}
            <div id = "default_inner" >
                <p class="heading_3">{{r.Recipe.title}}</p>
                {% if r.Recipe.imagepath is not none %}
                <img src="{{r.Recipe.imagepath}}" id="recipe_img"/>
                {% else %}
                <img src="../static/images/noimage.jpg" id="recipe_img"/>
                {% endif %}
            </div>
            {% endfor %}
           
        </div>
        <div class="clear"></div> 
</div>
</div>

</div>
</div>

</body>
</html>