<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="/viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/recipe/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/profile/profile.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
 <body>
 {% include 'header.html' %}
 <div id="u12" class="">
 <div id="u14" class="">
 
        <div class="profile_column_left">
            {% if current_user.profile_pic is not none %}
            <img src="{{ current_user.profile_pic}}" id="recipe_img"/>
            {% else %}
            <img src="static\images\home\post_u18.png" id="recipe_img"/>
            {% endif %}
            <div id = "default_inner" >
            <p class="title_large">{{ current_user.user_name }}</p>
            <p class="paragraph">{{ current_user.email }}</p>
            <br>
            <p class="heading_3">Pets Owned</p>
            <ul>
            {% for p in profile %}
            <li><p class="paragraph">{{ p.Pet.NAME }}   ({{p.Pet_type.type}})</p></li>
            {% endfor %}
            </ul>
            <br>
            <form class="w3-container w3-card-4" action="/modifyprofile" method="post">
            <input type=submit value="Update Profile" class="w3-btn w3-round-large w3-margin-bottom theme-color-background">
            </form>
            </div>

        </div>
        <div class="profile_column_right">

        </div>
        <div class="clear"></div> 
</div>
</div>

</body>
</html>