<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="/viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/recipe/styles.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>

{% include 'header.html' %}

        <!-- back (Rectangle) -->
        <div id="u12" class="">

            <!-- start recipe box here with u14-->
            <!-- Recipes Post -->

                <div id="u14" class="">

                    <!-- PosterName
                    <div id="u21" class="text" style="visibility: visible;">
                        <p>                   Post Background
                    <img id="u18" class="img " src="../static/images/home/post_u18.png"/> 
                    <span>User01234</span></p>
                    </div>-->

                    <!-- Post Time -->
                    <div id="u22" class="ax_default box_2">
                                           <!-- Post Background -->
                    <img id="u18" class="img " src="../static/images/home/post_u18.png"/> 
                        <div id="u21" class="text" style="visibility: visible;">
                            <p><span> <a href="{{url_for('profile_view',userid=userid)}}">{{ user }}</a></span></p>
                        </div>
                        <p><span>Today 9:13 am</span></p>
                    </div>


                    <!-- title -->
                    <div id = "default_inner" >
                    <p class="heading_1" style="text-align:center"> {{ title }} </p><br>
                    </div>

                    <!-- horizontal line-->
                    <center><img src="..\static\images\result_page\u94.png" width="96%"/></center>


                    <!-- Recipe Post Content -->
                    <div id="u24" class="ax_default box_2">
                    <!-- recipe post left column (recipe image)-->
                    <div class="recipe_column_left">
                        <div id = "default_inner">
                        {% if img is not none %}
                        <img src= {{ img }} id="recipe_img"/>
                        {% else %}
                        <img src="../static/images/noimage.jpg" id="recipe_img"/>
                        {% endif %}
                        </div>
                    </div> 

                    <!-- recipe post right column -->
                    <div class="recipe_column_right">
                        <div id = "default_inner">

                        <p class="heading_3"><a href="{{url_for('fave',recipetofave=recipeid)}}">Fave This Recipe</a></p>  
                        <br>
                        
                        <p class="heading_3">Suitable For {{ pettype }}</p><br>

                        <p class="heading_3">Ingredients</p><br>
                        <p class="paragraph">{{ ingredient.replace('\n','<br />')|safe }}</p>

                        <br><p class="heading_3">Instructions</p><br>
                        <p class="paragraph">{{ instruction.replace('\n','<br />')|safe }}</p>
                        <br>
                      </div>
                    </div>
                    <div class="clear"></div>  
                    </div>

                </div>




                <!-- comment form -->
                <div id="u14" class="">

                  <!-- comment section title-->
                  <div id="default_inner" >
                    <p class="heading_2">Comments</p>
                    <p class="paragraph">Add your comment below</p><br>
                  </div>
                </div>


                 <!-- individual comment box start-->
                 <div id="u14" class="">
            
                    <!-- Post Time -->
                    <div id="u22" class="ax_default box_2">
                                           <!-- Post Background -->
                    <img id="u18" class="img " src="../static/images/home/post_u18.png"/> 
                        <div id="u21" class="text" style="visibility: visible;">
                            <p><span>User01234</span></p>
                        </div>
                        <p><span>Today 9:13 am</span></p>
                    </div>
                    <!-- text of the comment-->
                    <div>
                        <div id = "default_inner">
                            <br>
                            <br>
                             <p class="paragraph">This is a comment</p>
                        </div>
                    </div>
                </div>
                <!-- individual comment box end-->



        </div>
      
    </body>
</html>
