<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="/viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/recipe/styles.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="../static/files/upload_post/styles.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

{% include 'header.html' %}

        <!-- back (Rectangle) -->
        <div id="u12" class="">

            <!-- start recipe box here with u14-->
            <!-- Recipes Post -->

                <div id="u14" class="">

                    <!-- PosterName
                    <div id="u21" class="text" style="visibility: visible;">
                        <p>                   Post Background
                    <img id="u18" class="img " src="../static/images/home/post_u18.png"/> 
                    <span>User01234</span></p>
                    </div>-->

                    <!-- Post Time -->
                    <div id="u22" class="ax_default box_2 ">
                    <!-- Post Background -->
                    <img id="u18" class="img " src="../static/images/home/post_u18.png"/> 
                        <div id="u21" class="text" style="visibility: visible;">
                            <p><span> <a href="{{url_for('profile_view',userid=userid)}}">{{ user }}</a></span></p>
                        </div>
                        <p><span>Today 9:13 am</span></p>
                    </div>


                    <!-- title -->
                    <div id = "default_inner" >
                    <p class="heading_1" style="text-align:center"> {{ title }} </p><br>
                    </div>

                    <!-- horizontal line-->
                    <center><img src="..\static\images\result_page\u94.png" width="96%"/></center>


                    <!-- Recipe Post Content -->
                    <div id="u24" class="ax_default box_2 w3-display-container">
                    <!-- recipe post left column (recipe image)-->
                    <div class="recipe_column_left">
                        <div id = "default_inner">
                        {% if img is not none %}
                        <img src= {{ img }} id="recipe_img"/>
                        {% else %}
                        <img src="../static/images/noimage.jpg" id="recipe_img"/>
                        {% endif %}
                        </div>
                    </div> 

                    <!-- recipe post right column -->
                    <div class="recipe_column_right">
                        <div id = "default_inner">
                        
                        <p class="heading_3">Suitable For {{ pettype }}</p><br>

                        <p class="heading_3">Ingredients</p><br>
                        <p class="paragraph">{{ ingredient.replace('\n','<br />')|safe }}</p>

                        <br><p class="heading_3">Instructions</p><br>
                        <p class="paragraph">{{ instruction.replace('\n','<br />')|safe }}</p>
                        <br>
                      </div>
                    </div>

                    {% if current_user.is_authenticated %}

                        {% if current_user.id == userid %}
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <a href="{{url_for('update_post', recipeid=recipeid)}}" class="w3-display-bottomright w3-btn w3-large w3-round-large w3-margin theme-color-background fa fa-pencil" name="update"></a>
                        </form>
                        {% else %}
                        <form action="/fave" method="POST">
                            <a href="{{url_for('fave',recipetofave=recipeid)}}" class="w3-display-bottomright w3-btn w3-large w3-round-large w3-margin theme-color-background fa fa-heart" name="fave"></a>
                        </form>

                        {% endif %}
                    {% endif %}
                    <div class="clear"></div>  
                    </div>
                </div>

                <!-- comment form -->
                <div id="u14" class="">

                <!-- comment section title-->
            {% if current_user.is_authenticated %}
                <div id="default_inner" class="container" >
                <form name="commentform" id="commentform" action="{{ url_for('recipe_view',recipeid=recipeid )}}" method="post" class="wpl-track-me">
                            <p class="heading_2">Comments</p>
                            <p class="paragraph">Share your thoughts!</p><br>
                <textarea name="comment" rows="4" cols="80" placeholder="Add comment here" class= "w3-textarea"></textarea>
                <br>
                <input type="submit" value="Submit" class="w3-btn w3-round-large w3-margin-bottom theme-color-background"></input>
            </form>
<!-- placeholder="Add comment here" value="" style="width:900px;height:100px;" />-->
                  </div>
        {% endif %}
                </div>
         {% for r in comments %}
                 <!-- individual comment box start-->
                 <div id="u14" class="">
                    <!-- Post Time -->
                    <div id="u22" class="ax_default box_2">
                                           <!-- Post Background -->
                    <img id="u18" class="img " src="../static/images/home/post_u18.png"/> 
                        <div id="u21" class="text" style="visibility: visible;">
                            <a href="{{url_for('profile_view',userid=r.User.id)}}"><p><span>{{ r.User.user_name }}</span></p></a>
                        </div>
                        <p><span>{{ r.Comment.posttime }}</span></p>
                    </div>
                    <!-- text of the comment-->
                    <div>
                        <div id = "default_inner">
                            <br>
                            <br>
                             <p class="paragraph">{{ r.Comment.message }}</p>
                        </div>
                    </div>
                {% if current_user.is_authenticated %}
                {% if current_user.id == r.User.id %}
                    <div id="del_butt" style="float: right">
                        <form name="deletecomment" id="deletecomment" action="{{ url_for('recipe_view',recipeid=recipeid, commentid=r.Comment.id )}}" method="post" >
                            <input type="submit" value="Delete Comment"  class="w3-btn w3-round-large w3-margin-bottom theme-color-background">
                        </form>
                    </div>
                {% endif %}
            {% endif %}
                </div>
                <!-- individual comment box end-->
        {% endfor %}
        </div>
    </body>
</html>
