<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="../static/files/register/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="main" class="container">   
    <div id="msg" align="center">
        <h4>Password is not the same or Email format is not correct</h4>
    </div>

    <form name="registerform" id="registerform" action="#" method="post" class="wpl-track-me"> 
            <p class="register-username">
            <label for="user_register">Username</label>
            <input type=text name=username class="input" placeholder="user name" value="" size="20" /> 
            <p class="register-password"> 
            <input type=text name=email class="input" placeholder="user email" value="" size="20" /> 
            <p class="register-password"> 
            <label for="user_pass">Password</label>
            <input type=password name=password class="input" placeholder="Password" value="" size="20" /> 
            <p class="register-password"> 
            <label for="user_pass">Comfirm Password</label>
            <input type=password name=c_password class="input" placeholder="Password" value="" size="20" /> 
            <p class="register-submit">
            <input type=submit value=register class="button-primary">
        </form>

</div>
  
  
</body>
</html>
 