<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="../static/files/upload_post/styles.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>

{% include 'header.html' %}
<div class="w3-row">
<div class = "w3-col  w3-container w3-margin" style="width:20%"></div>
<div class = "w3-col w3-container w3-padding-16 w3-margin" style="width:60%">
    <!--Upload Post-->
    <form class="w3-container w3-card w3-padding-large w3-margin-top" action="#" method="POST" enctype="multipart/form-data">
        <h2 class="w3-text-blue">Upload Your Own Post</h2>
    <p>      
        <label class="w3-large w3-text-blue"><b>Title</b></label>
        <input class="w3-input w3-border w3-margin-bottom " name="title" type="text" placeholder="Enter your title" required></input></p>
    
    <p>

            {% for p in pet_type %}
            <label class="checkbox-inline">
                <!--require-->
                {% if p.type == "Others"  %}
                <input class="w3-radio w3-border w3-margin-bottom " name="pet_type" value={{ p.id }} type="radio" checked>{{p.type}}
                {% else %}
                <input class="w3-radio w3-border w3-margin-bottom " name="pet_type" value={{ p.id }} type="radio">{{p.type}}
                {% endif %}
            </input> 
                
            </label>
            {% endfor %}
    </p>

    <script src="../static/files/upload_post/addInput.js" language="Javascript" type="text/javascript"></script>
    <p>      
        <label class="w3-large w3-text-blue"><b>Ingredient</b></label>

        <div id="ingredientInput" class="w3-row w3-margin-top">

            <div id="ingre_1" class= "w3-col w3-container w3-large w3-margin-top w3-margin-right" style="width:3%"> 1.</div>
            <input class="w3-col w3-input w3-border w3-margin-bottom " style="width:90%" name="ingredientInput_1" type="text" placeholder="Enter your ingredient" required></input>
        </div>

        <div class="w3-row w3-display-container w3-padding-32">
            <input type="button" value="+ Add One More Ingreident" class= "w3-col w3-bar-item w3-button w3-light-blue w3-display-left" style="width: 48%" onClick="ingedInput('ingredientInput');"></input>
            <input type="button" value="x Delete This Ingreident" class= "w3-col w3-bar-item w3-button w3-pale-red w3-display-right" style="width: 48%" onClick="inged_removeLast('ingredientInput');" ></input>
        </div>

    </p>

    <p>      
        <label class="w3-large w3-text-blue"><b>Instruction</b></label>

        <div id="instructionInput" class="w3-row w3-margin-top">

            <div id="instr_1" class= "w3-col w3-container w3-large w3-margin-top w3-margin-right" style="width:3%"> 1.</div>
            <input class="w3-col w3-input w3-border w3-margin-bottom " style="width:90%" id="instructionInput_1" name="instructionInput_1" type="text" placeholder="Enter your instruction" required></input>
        </div>

        <div class="w3-row w3-display-container w3-padding-32">
            <input type="button" value= " + Add One More Instruction" class= "w3-col w3-bar-item w3-button w3-light-blue w3-display-left" style="width: 48%" onClick="instrInput('instructionInput');"></input>
            <input type="button" value="x Delete This Instruction" class= "w3-col w3-bar-item w3-button w3-pale-red w3-display-right" style="width: 48%" onClick="instr_removeLast('instructionInput');" ></input>
        </div>
    </p>


    <p>      
        <label class="w3-large w3-text-blue"><b>Image</b></label>
        <input class="w3-input w3-border w3-margin-bottom " name="post_image" type="file" accept=".jpg, .jpeg, .png, .gif" ></input></p>    

    <p>
        <input type=submit name="upload" value="upload" class="w3-btn w3-round-large w3-margin-bottom theme-color-background">
        </input>

    </p>
    </form>


    </div>

    
    <div class = "w3-col  w3-container" style="width:10%"></div>
        </div>
    </body>
</html>
