#tag {
  float: left;
  position:relative;
  left:5%;
  top:3%;
  width:155px;
  height:7px;
  font-size:16px;
  text-align:left;
  z-index: 1;
}

#search_title{
  float: left;
  position:relative;
  left:15%;
  top:3%;
  font-size:32px;
  text-align:left;
  font-weight: bold;
  z-index: 1;
}

#result_post {
  position:relative;
  left:25%;
  top:11%;
  width:60%;
  height:auto;
  background:inherit;
  background-color:rgba(28, 193, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;


}

#avatar{
  clear: left;
  position: relative;
  left:2%;
  top: 10%;
  padding:10px;
  width:36px;
  height:38px;
}

#user_text{
  position: relative;
  left: -15%;
  top: -30px;
  font-size: 18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 0px; 
}

#filter_top {
  position:absolute;
  left:-1%;
  top:-12.5%;
  width:102%;
  height:86px;
  background:inherit;
  background-color:rgba(28, 193, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align: center;
  vertical-align: middle;
  line-height: 85px; 
}

#filter {
  float: left;
  position:absolute;
  left:5%;
  top: 41%;
  width:15%;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  text-align:left;

}

#filter_title{
  position: relative; 
  left: 3%;
  color:#33CCCC; 
  font-size:16px; 
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  padding-top: 5px;
  padding-bottom: 5px;
}

.go_button{
    position: relative;
    left: 0%;
    width: 100%;
    top: 2px;
    background:inherit;
    background-color:rgba(28, 193, 196, 1);
    border: none;
    color: white;
    margin-top: 10px;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.clear_button{
    position: relative;
    left: 0%;
    width: 100%;
    bottom: 2px;
    background:inherit;
    background-color:rgba(242, 242, 242, 1);
    border: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-decoration: underline; 
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.go_button:hover {
    background-color:rgba(0,172, 193, 1);
}

.clear_button:hover {
    color:rgba(0,145, 234, 1);
}